<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Legal AI Chatbot</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

</head>

<body>

<div class="chat-container">

    
    <div class="chat-header">

    
<div class="header-left">


    <img src="{{ url_for('static',
         filename='logo.png') }}"
         class="main-logo"
         alt="Legal AI Logo">

    
    <div class="header-text">

        <h1>Legal AI Chatbot</h1>

        <span>Your AI Legal Assistant</span>

    </div>

</div>

    
        <a href="/clear">

            <button class="clear-btn">

                Clear Chat

            </button>

        </a>

    </div>


    <div class="chat-box">

        {% for chat in chat_history %}

        
            <div class="user-message">

                {{ chat.user }}

            </div>

        
            <div class="bot-message">

                {{ chat.bot|safe }}

            </div>

        {% endfor %}

    </div>


    <div id="typing-indicator">

        Bot is typing...

    </div>


    <form method="POST"
          class="chat-form"
          onsubmit="showTyping()">

        <input type="text"
               name="query"
               placeholder="Ask your legal question here..."
               autocomplete="off"
               required>

        <button type="submit">

            Send

        </button>

    </form>

</div>

<script>

    
    const chatBox = document.querySelector('.chat-box');

    chatBox.scrollTop = chatBox.scrollHeight;

    function showTyping(){

        document.getElementById(
            "typing-indicator"
        ).style.display = "block";
    }

</script>

</body>

</html>